<header>
    <h1>Passkey Login</h1>
    @await Component.InvokeAsync("NavBar")
</header>

<main>
    <form hx-on:submit="window.onPasskeySignInSubmit(event)" onsubmit="return false">
        <input type="text" name="username" placeholder="Username" aria-label="Username" autoComplete="username"
               required/>
        <button type="submit">
            Login
        </button>
    </form>
</main>

@section Scripts
{
    <script type="module">
        window.onPasskeySignInSubmit = async (e) => {
            e.preventDefault();
        
            const username = e.target.querySelector('input[name="username"]').value;
        
            // send to server for registering
            let makeAssertionOptions;
            try {
                const res = await fetch('@Url.Action("AssertionOptions", "PasskeyAuthentication")', {
                    method: 'POST',
                    body: JSON.stringify({ username: username }),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                });
        
                makeAssertionOptions = await res.json();
            } catch (e) {
                console.error("Request to server failed", e);
            }
        
            console.log("Assertion Options Object", makeAssertionOptions);
        
            // show options error to user
            if (makeAssertionOptions.status === "error") {
                console.error("Error creating assertion options");
                console.error(makeAssertionOptions.errorMessage);
                return;
            }
        
            const challenge = makeAssertionOptions.challenge.replace(/-/g, "+").replace(/_/g, "/");
            makeAssertionOptions.challenge = Uint8Array.from(atob(challenge), c => c.charCodeAt(0));
            
            makeAssertionOptions.allowCredentials.forEach(function (listItem) {
                const fixedId = listItem.id.replace(/\_/g, "/").replace(/\-/g, "+");
                listItem.id = Uint8Array.from(atob(fixedId), c => c.charCodeAt(0));
            });
        
            console.log("Assertion options", makeAssertionOptions);
        
            // ask browser for credentials (browser will ask connected authenticators)
            let credential;
            try {
                credential = await navigator.credentials.get({ publicKey: makeAssertionOptions })
            } catch (err) {
                console.error(err.message ? err.message : err);
            }
        
            try {
                await verifyAssertionWithServer(credential);
            } catch (e) {
                console.error("Could not verify assertion", e);
            }
        }
        
        async function verifyAssertionWithServer(credential) {
            // Move data into Arrays incase it is super long
            const authData = new Uint8Array(credential.response.authenticatorData);
            const clientDataJSON = new Uint8Array(credential.response.clientDataJSON);
            const rawId = new Uint8Array(credential.rawId);
            const sig = new Uint8Array(credential.response.signature);
            
            const data = {
                id: credential.id,
                rawId: window.coerceToBase64Url(rawId),
                type: credential.type,
                extensions: credential.getClientExtensionResults(),
                response: {
                    authenticatorData: window.coerceToBase64Url(authData),
                    clientDataJSON: window.coerceToBase64Url(clientDataJSON),
                    signature: window.coerceToBase64Url(sig)
                }
            };
        
            let response;
            try {
                let res = await fetch('@Url.Action("MakeAssertion", "PasskeyAuthentication")', {
                    method: 'POST',
                    body: JSON.stringify(data), 
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                });

                response = await res.json();
            } catch (e) {
                console.error("Request to server failed", e);
                throw e;
            }

            console.log("Assertion Object", response);

            // show error
            if (response.status === "error") {
                console.error("Error doing assertion");
                console.error(response.errorMessage);
                return;
            }

            htmx.ajax('GET','@Url.Action("Index", "Secure")', 'body');
        }
    </script>
}
