@model Web.Models.SecureModel

<header>
    <hgroup>
        <h1>Simple auth</h1>
    </hgroup>
    @await Component.InvokeAsync("NavBar")
</header>

<main>
    <p>Only a logged in person can see this page. Your details: </p>
    <ul>
        <li>User ID: @Model.UserId</li>
        <li>Username: @Model.Username</li>
    </ul>
</main>
