@model Web.Models.HomeModel

<header>
    <hgroup>
        <h1>Simple auth</h1>
        <p>A simple example for how to configure cookie auth using various auth provider</p>
    </hgroup>
    @await Component.InvokeAsync("NavBar")
</header>

<main>
    <div>Is Logged In? @Model.IsLoggedIn</div>
</main>
